@font-face {
  font-family: "Shrikhand";
  src: url("fonts/Shrikhand-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-t";
  src: url("fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-r";
  src: url("fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-m";
  src: url("fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-B";
  src: url("fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font_title {
  font-family: 'Shrikhand';
}

.font_thin {
  font-family: 'Roboto-t';
}

.font_regular {
  font-family: 'Roboto-r';
}

.font_medium {
  font-family: 'Roboto-m';
}

.font_bold {
  font-family: 'Roboto-b';
}

* {
  font-size: 1rem;
  font-family: 'Roboto-r';
}

a, a:visited {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

#MainTitle {
  margin: 20px;
  font-size: 3rem;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.1rem;
}

@media only screen and (min-width: 426px) {
  #MainTitle {
    font-size: 3.2rem;
  }
  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 1.7rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  h4 {
    font-size: 1.15rem;
  }
}

@media only screen and (min-width: 768px) {
  #MainTitle {
    font-size: 3.7rem;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 1024px) {
  #MainTitle {
    font-size: 4rem;
  }
  h1 {
    font-size: 2.7rem;
  }
  h2 {
    font-size: 2.3rem;
  }
  h3 {
    font-size: 1.6rem;
  }
  h4 {
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 1420px) {
  #MainTitle {
    font-size: 4.5rem;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.6rem;
  }
  h3 {
    font-size: 1.8rem;
  }
  h4 {
    font-size: 1.3rem;
  }
}

@-webkit-keyframes spinner {
  0% {
    opacity: 1;
  }
  70% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    opacity: 0;
  }
}

@keyframes spinner {
  0% {
    opacity: 1;
  }
  70% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    opacity: 0;
  }
}

@-webkit-keyframes reveal {
  99% {
    height: 0;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    height: auto;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
  }
}

@keyframes reveal {
  99% {
    height: 0;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    height: auto;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
  }
}

.fullpage {
  height: 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-animation: reveal 250ms 2150ms forwards;
          animation: reveal 250ms 2150ms forwards;
}

@-webkit-keyframes reveal_menu {
  from {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  to {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    height: auto;
  }
}

@keyframes reveal_menu {
  from {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  to {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    height: auto;
  }
}

.section__menu__loader {
  -webkit-animation: reveal_menu 1500ms;
          animation: reveal_menu 1500ms;
  -webkit-transform-origin: top;
          transform-origin: top;
}

@-webkit-keyframes anim_btn {
  0% {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(15%, #FF79DA), color-stop(#9356DC), to(#9356DC));
    background-image: linear-gradient(to bottom, #FF79DA 15%, #9356DC, #9356DC);
  }
  10% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#9356DC), color-stop(15%, #FF79DA), to(#9356DC));
    background-image: linear-gradient(to bottom, #9356DC, #FF79DA 15%, #9356DC);
  }
  20% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#9356DC), color-stop(25%, #FF79DA), to(#9356DC));
    background-image: linear-gradient(to bottom, #9356DC, #FF79DA 25%, #9356DC);
  }
  30% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#9356DC), color-stop(35%, #FF79DA), to(#9356DC));
    background-image: linear-gradient(to bottom, #9356DC, #FF79DA 35%, #9356DC);
  }
  40% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#9356DC), color-stop(50%, #FF79DA), to(#9356DC));
    background-image: linear-gradient(to bottom, #9356DC, #FF79DA 50%, #9356DC);
  }
  50% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#9356DC), color-stop(65%, #FF79DA), to(#9356DC));
    background-image: linear-gradient(to bottom, #9356DC, #FF79DA 65%, #9356DC);
  }
  60% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#9356DC), color-stop(75%, #FF79DA), to(#9356DC));
    background-image: linear-gradient(to bottom, #9356DC, #FF79DA 75%, #9356DC);
  }
  70% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#9356DC), color-stop(85%, #FF79DA), to(#9356DC));
    background-image: linear-gradient(to bottom, #9356DC, #FF79DA 85%, #9356DC);
  }
  80% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#9356DC), color-stop(90%, #FF79DA), to(#9356DC));
    background-image: linear-gradient(to bottom, #9356DC, #FF79DA 90%, #9356DC);
  }
  90% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#9356DC), color-stop(95%, #FF79DA), to(#9356DC));
    background-image: linear-gradient(to bottom, #9356DC, #FF79DA 95%, #9356DC);
  }
  100% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#9356DC), color-stop(100%, #FF79DA), to(#9356DC));
    background-image: linear-gradient(to bottom, #9356DC, #FF79DA 100%, #9356DC);
  }
}

@keyframes anim_btn {
  0% {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(15%, #FF79DA), color-stop(#9356DC), to(#9356DC));
    background-image: linear-gradient(to bottom, #FF79DA 15%, #9356DC, #9356DC);
  }
  10% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#9356DC), color-stop(15%, #FF79DA), to(#9356DC));
    background-image: linear-gradient(to bottom, #9356DC, #FF79DA 15%, #9356DC);
  }
  20% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#9356DC), color-stop(25%, #FF79DA), to(#9356DC));
    background-image: linear-gradient(to bottom, #9356DC, #FF79DA 25%, #9356DC);
  }
  30% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#9356DC), color-stop(35%, #FF79DA), to(#9356DC));
    background-image: linear-gradient(to bottom, #9356DC, #FF79DA 35%, #9356DC);
  }
  40% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#9356DC), color-stop(50%, #FF79DA), to(#9356DC));
    background-image: linear-gradient(to bottom, #9356DC, #FF79DA 50%, #9356DC);
  }
  50% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#9356DC), color-stop(65%, #FF79DA), to(#9356DC));
    background-image: linear-gradient(to bottom, #9356DC, #FF79DA 65%, #9356DC);
  }
  60% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#9356DC), color-stop(75%, #FF79DA), to(#9356DC));
    background-image: linear-gradient(to bottom, #9356DC, #FF79DA 75%, #9356DC);
  }
  70% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#9356DC), color-stop(85%, #FF79DA), to(#9356DC));
    background-image: linear-gradient(to bottom, #9356DC, #FF79DA 85%, #9356DC);
  }
  80% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#9356DC), color-stop(90%, #FF79DA), to(#9356DC));
    background-image: linear-gradient(to bottom, #9356DC, #FF79DA 90%, #9356DC);
  }
  90% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#9356DC), color-stop(95%, #FF79DA), to(#9356DC));
    background-image: linear-gradient(to bottom, #9356DC, #FF79DA 95%, #9356DC);
  }
  100% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#9356DC), color-stop(100%, #FF79DA), to(#9356DC));
    background-image: linear-gradient(to bottom, #9356DC, #FF79DA 100%, #9356DC);
  }
}

@-webkit-keyframes anim_nouveau {
  to {
    -webkit-transform: scale(1.08);
            transform: scale(1.08);
    border-radius: 6px;
  }
}

@keyframes anim_nouveau {
  to {
    -webkit-transform: scale(1.08);
            transform: scale(1.08);
    border-radius: 6px;
  }
}

.loadingspinner {
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#c9abee), to(#782cd3));
  background: linear-gradient(to bottom, #c9abee, #782cd3);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-animation: spinner 2s 1s forwards;
          animation: spinner 2s 1s forwards;
}

.loadingspinner p {
  font-size: 2.5rem;
  margin: 2rem;
  color: #FFF;
  font-weight: 100;
}

@media only screen and (min-width: 426px) {
  .loadingspinner p {
    font-size: 3rem;
    margin: 3.5rem;
  }
}

.loadingspinner i {
  color: #FF79DA;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.btn__cta {
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 42px auto;
  max-width: 42%;
  min-width: 230px;
  height: 80px;
  border-radius: 80px;
  padding: 2rem;
  -webkit-box-shadow: 0px 5px 5px #b7b7b7;
          box-shadow: 0px 5px 5px #b7b7b7;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #FF79DA), color-stop(#9356DC), to(#9356DC));
  background-image: linear-gradient(to bottom, #FF79DA 10%, #9356DC, #9356DC);
}

@media only screen and (min-width: 426px) {
  .btn__cta {
    height: 100px;
    width: 25%;
  }
}

@media only screen and (min-width: 1024px) {
  .btn__cta {
    width: 22%;
  }
}

.btn__cta:hover {
  -webkit-box-shadow: 0px 5px 5px #848484;
          box-shadow: 0px 5px 5px #848484;
  animation: anim_btn 0.3s ease-in-out forwards reverse;
}

.btn__cta span {
  color: #FFF;
  font-size: 1.2rem;
}

@media only screen and (min-width: 426px) {
  .btn__cta span {
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 768px) {
  .btn__cta span {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 1024px) {
  .btn__cta span {
    font-size: 1.5rem;
  }
}

body {
  height: 100%;
  padding: 0;
  margin: 0 auto;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.index__header {
  text-align: center;
}

.index__header__location {
  -webkit-text-decoration: transparent;
          text-decoration: transparent;
  cursor: pointer;
  width: 100%;
  border-top: 2px solid #b7b7b7;
  background-color: #EAEAEA;
  margin: 0;
}

.index__header__location p {
  margin: 0;
  padding: 32px 0 40px 0;
  font-size: 1.6rem;
}

@media only screen and (min-width: 426px) {
  .index__header__location p {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 768px) {
  .index__header__location p {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1024px) {
  .index__header__location p {
    font-size: 2.2rem;
  }
}

@media only screen and (min-width: 1420px) {
  .index__header__location p {
    font-size: 2.5rem;
  }
}

.index__header__location p:hover {
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #782cd3;
  text-decoration: underline;
}

.index__header i {
  padding-right: 8px;
  font-size: 1.4rem;
}

@media only screen and (min-width: 426px) {
  .index__header i {
    font-size: 1.6rem;
  }
}

@media only screen and (min-width: 768px) {
  .index__header i {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 1024px) {
  .index__header i {
    font-size: 1.9rem;
  }
}

@media only screen and (min-width: 1420px) {
  .index__header i {
    font-size: 2.1rem;
  }
}

.menu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__header div:first-child {
  width: 32px;
  position: relative;
  left: 4%;
}

.menu__header div:first-child i {
  font-size: 2rem;
}

@media only screen and (min-width: 426px) {
  .menu__header div:first-child i {
    font-size: 2.1rem;
  }
}

@media only screen and (min-width: 768px) {
  .menu__header div:first-child i {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  .menu__header div:first-child i {
    font-size: 3rem;
  }
}

.menu__header div:first-child a:hover {
  -webkit-transition: all linear 200ms;
  transition: all linear 200ms;
  color: #9356DC;
}

.menu__header div:nth-child(2) {
  margin: 0 auto;
}

.menu__header div:nth-child(2) h1 {
  margin-block: 1.2rem;
}

footer {
  margin: 0;
  background: #383838;
  color: #FFF;
  padding: 40px;
}

footer h3 {
  padding-left: 1rem;
  font-weight: 100 !important;
  margin: 0;
}

@media only screen and (min-width: 1024px) {
  footer h3 {
    font-size: 2rem;
  }
}

footer ul {
  list-style: none;
  padding-left: 1rem;
}

footer ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0;
}

footer ul li div {
  width: 24px;
}

footer ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid transparent;
  color: #FFF !important;
}

footer ul li a:hover {
  -webkit-transition: all linear 250ms;
  transition: all linear 250ms;
  border-bottom-color: #782cd3;
}

@media only screen and (min-width: 1024px) {
  footer {
    padding-left: 8rem;
  }
}

.promesse {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: #F6F6F6;
  padding-bottom: 2rem;
}

.promesse__texte {
  width: 80%;
  margin: 0% auto;
}

@media only screen and (min-width: 768px) {
  .promesse__texte {
    width: 90%;
  }
}

.promesse h2 {
  font-size: 1rem;
}

@media only screen and (min-width: 426px) {
  .promesse h2 {
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 768px) {
  .promesse h2 {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 1024px) {
  .promesse h2 {
    font-size: 1.3rem;
  }
}

.tuto {
  width: 100%;
  padding-top: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .tuto {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.tuto h2 {
  width: 100%;
  margin-left: 4%;
}

@media only screen and (min-width: 768px) {
  .tuto h2 {
    text-align: center;
    padding: 2% 0;
    margin: 0 auto;
  }
}

.tuto__bulle {
  -webkit-box-shadow: 0px 5px 5px #EAEAEA;
          box-shadow: 0px 5px 5px #EAEAEA;
  padding: 0 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 3% auto;
  border-radius: 30px;
  background: #F6F6F6;
  -webkit-transition: all linear 200ms;
  transition: all linear 200ms;
}

@media only screen and (min-width: 426px) {
  .tuto__bulle {
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 768px) {
  .tuto__bulle {
    width: 320px;
    margin: 1rem 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .tuto__bulle {
    width: 400px;
    font-size: 1.3rem;
  }
}

.tuto__bulle__icon {
  width: 20px;
  color: #6b6b6b;
}

.tuto__bulle:hover {
  background-color: #e7d4ff;
  -webkit-box-shadow: 0px 5px 5px #c9abee;
          box-shadow: 0px 5px 5px #c9abee;
}

.tuto__bulle:hover i {
  color: #9356DC;
}

.tuto__bulle p:first-child {
  color: #fff;
  background: #9356DC;
  padding: 4px 9px;
  border-radius: 50%;
  position: relative;
  left: -28px;
}

@media only screen and (min-width: 1024px) {
  .tuto__bulle p:first-child {
    padding: 4px 11px;
  }
}

@media only screen and (min-width: 768px) {
  .tuto__bulle p:first-child {
    padding: 4px 10px;
  }
}

.tuto__bulle p:last-child {
  margin: 0 auto;
  font-weight: bold;
  color: black;
}

#icon01 {
  padding-left: 6px;
}

.resultat {
  margin-top: 2.5rem;
  background: #F6F6F6;
  padding: 2rem 0;
}

@media only screen and (min-width: 1024px) {
  .resultat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.resultat h2 {
  margin-left: 4%;
}

@media only screen and (min-width: 1024px) {
  .resultat h2 {
    margin: 2rem 0;
    width: 100%;
    text-align: center;
  }
}

.resultat__card {
  position: relative;
  width: 80%;
  -webkit-box-shadow: 0px 5px 5px #EAEAEA;
          box-shadow: 0px 5px 5px #EAEAEA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem auto;
  border-radius: 20px;
}

@media only screen and (min-width: 1024px) {
  .resultat__card {
    width: 42%;
  }
}

.resultat__card__legende {
  background: #FFF;
  padding: 16px 0 8px 4%;
  margin-top: -1%;
  border-radius: 0 0 20px 20px;
}

@media only screen and (min-width: 1024px) {
  .resultat__card__legende {
    width: 100%;
  }
}

.resultat__card__legende h3 {
  margin-block: 0;
  margin: 0;
}

.resultat__card__legende p {
  margin: 0;
  padding: 6px 0;
}

.resultat__card__legende__like {
  position: absolute;
  right: 6%;
  bottom: 8%;
  color: #6b6b6b;
}

.resultat__card__legende__like:hover i {
  cursor: pointer;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: bold;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  -webkit-transition: all linear 600ms;
  transition: all linear 600ms;
}

.resultat__card__legende__like i {
  font-size: 1.8rem;
}

@media only screen and (min-width: 1024px) {
  .resultat__card__legende__like i {
    font-size: 2.2rem;
  }
}

.resultat__card:hover {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: scale(1.03) scaleY(1.01);
          transform: scale(1.03) scaleY(1.01);
  -webkit-transition: all ease-in-out 400ms;
  transition: all ease-in-out 400ms;
  -webkit-box-shadow: 0px 5px 5px #9356DC;
          box-shadow: 0px 5px 5px #9356DC;
}

.resultat__card:hover:hover .nouveau {
  -webkit-animation: anim_nouveau ease-in-out 0.5s forwards;
          animation: anim_nouveau ease-in-out 0.5s forwards;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
}

.resultat img {
  border-radius: 20px 20px 0 0;
  z-index: 1;
  width: 100%;
  min-height: 180px;
  max-height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 70%;
     object-position: 50% 70%;
}

@media only screen and (min-width: 426px) {
  .resultat img {
    min-height: 200px;
    max-height: 200px;
    -o-object-position: 50% 60%;
       object-position: 50% 60%;
  }
}

@media only screen and (min-width: 768px) {
  .resultat img {
    min-height: 240px;
    max-height: 240px;
    -o-object-position: 50% 50%;
       object-position: 50% 50%;
  }
}

@media only screen and (min-width: 1024px) {
  .resultat img {
    min-height: 300px;
    max-height: 300px;
  }
}

.resultat .nouveau {
  font-family: 'Roboto-b';
  display: inline-block;
  padding: 8px 14px;
  border-radius: 4px;
  color: #278870;
  background: #99E2D0;
  position: absolute;
  right: 7%;
  z-index: 2;
}

.presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  min-height: 200px;
}

.presentation img {
  z-index: 1;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 80%;
     object-position: 50% 80%;
}

@media only screen and (min-width: 426px) {
  .presentation img {
    max-height: 330px;
    -o-object-position: 50% 70%;
       object-position: 50% 70%;
  }
}

@media only screen and (min-width: 768px) {
  .presentation img {
    max-height: 370px;
    -o-object-position: 50% 60%;
       object-position: 50% 60%;
  }
}

@media only screen and (min-width: 1024px) {
  .presentation img {
    max-height: 410px;
    -o-object-position: 50% 65%;
       object-position: 50% 65%;
  }
}

@media only screen and (min-width: 1420px) {
  .presentation img {
    max-height: 500px;
    -o-object-position: 50% 70%;
       object-position: 50% 70%;
  }
}

.presentation__titre {
  position: relative;
  background: #F6F6F6;
  margin-top: -40px;
  padding-top: 10px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 40px 40px 0 0;
}

.presentation__titre > i {
  color: #6b6b6b;
  font-size: 40px;
  margin-right: 10%;
}

.presentation__titre > i:hover {
  margin-top: 6px;
  cursor: pointer;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: bold;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  -webkit-transition: all linear 600ms;
  transition: all linear 600ms;
}

.presentation__titre h2 {
  margin-left: 7%;
}

@media only screen and (min-width: 1024px) {
  .presentation__titre h2 {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-left: 5%;
  }
}

.section__menu {
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #F6F6F6;
  padding: 2% 0;
}

.section__menu__resultat {
  -webkit-transition: all ease-in-out 1s;
  transition: all ease-in-out 1s;
  height: 6rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 22px auto;
  -webkit-box-shadow: 0px 5px 5px #EAEAEA;
          box-shadow: 0px 5px 5px #EAEAEA;
  background-color: #FFF;
  border-radius: 30px;
  cursor: pointer;
  width: 320px;
}

@media only screen and (min-width: 426px) {
  .section__menu__resultat {
    width: 420px;
  }
}

@media only screen and (min-width: 768px) {
  .section__menu__resultat {
    width: 760px;
  }
}

@media only screen and (min-width: 1024px) {
  .section__menu__resultat {
    width: 320px;
  }
}

@media only screen and (min-width: 1420px) {
  .section__menu__resultat {
    width: 420px;
  }
}

.section__menu__resultat__sous_texte {
  display: block;
  margin-left: 20px;
  width: 240px;
  min-width: 240px;
}

@media only screen and (min-width: 426px) {
  .section__menu__resultat__sous_texte {
    width: 340px;
    min-width: 340px;
  }
}

@media only screen and (min-width: 768px) {
  .section__menu__resultat__sous_texte {
    width: 680px;
    min-width: 680px;
  }
}

@media only screen and (min-width: 1024px) {
  .section__menu__resultat__sous_texte {
    width: 240px;
    min-width: 240px;
  }
}

@media only screen and (min-width: 1420px) {
  .section__menu__resultat__sous_texte {
    width: 340px;
    min-width: 340px;
  }
}

.section__menu__resultat__sous_texte h4 {
  margin-block: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.section__menu__resultat__sous_texte p {
  margin-block: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.section__menu__resultat__prix {
  text-align: right;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0 6px 8px 6px;
}

.section__menu__resultat__check {
  visibility: hidden;
  padding: 40px 0px;
  display: contents;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  justify-self: flex-end;
  text-align: center;
  border-radius: 0 30px 30px 0;
  color: #FFF;
  background-color: #99E2D0;
  -webkit-transition: all ease-in-out 1s;
  transition: all ease-in-out 1s;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.section__menu__resultat__check i {
  font-size: 1.8rem;
  -webkit-transform: rotate(-270deg);
          transform: rotate(-270deg);
}

.section__menu__resultat:hover {
  overflow: hidden;
  -webkit-transition: all ease-in-out 350ms;
  transition: all ease-in-out 350ms;
  -webkit-box-shadow: 0px 5px 5px #d5f3eb;
          box-shadow: 0px 5px 5px #d5f3eb;
}

.section__menu__resultat:hover .section__menu__resultat__sous_texte {
  -webkit-transition: all ease-in-out 1.2s;
  transition: all ease-in-out 1.2s;
  width: 165px;
  max-width: 165px;
  min-width: 165px;
}

@media only screen and (min-width: 426px) {
  .section__menu__resultat:hover .section__menu__resultat__sous_texte {
    -webkit-transition: all ease-in-out 2.2s;
    transition: all ease-in-out 2.2s;
    width: 340px;
    max-width: 340px;
  }
}

@media only screen and (min-width: 768px) {
  .section__menu__resultat:hover .section__menu__resultat__sous_texte {
    -webkit-transition: all ease-in-out 3s;
    transition: all ease-in-out 3s;
    width: 680px;
    max-width: 680px;
  }
}

@media only screen and (min-width: 1024px) {
  .section__menu__resultat:hover .section__menu__resultat__sous_texte {
    -webkit-transition: all ease-in-out 1s;
    transition: all ease-in-out 1s;
    width: 165px;
    max-width: 165px;
  }
}

@media only screen and (min-width: 1420px) {
  .section__menu__resultat:hover .section__menu__resultat__sous_texte {
    -webkit-transition: all ease-in-out 2s;
    transition: all ease-in-out 2s;
    width: 340px;
    max-width: 340px;
  }
}

.section__menu__resultat:hover .section__menu__resultat__check {
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 0;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all ease-in-out 1s;
  transition: all ease-in-out 1s;
  width: 120px;
}

@media only screen and (min-width: 426px) {
  .section__menu__resultat:hover .section__menu__resultat__check {
    width: 140px;
  }
}

@media only screen and (min-width: 768px) {
  .section__menu__resultat:hover .section__menu__resultat__check {
    width: 160px;
  }
}

@media only screen and (min-width: 1024px) {
  .section__menu__resultat:hover .section__menu__resultat__check {
    width: 120px;
  }
}

@media only screen and (min-width: 1420px) {
  .section__menu__resultat:hover .section__menu__resultat__check {
    width: 140px;
  }
}

.section__menu__resultat:hover .section__menu__resultat__check i {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform ease-in-out 1.2s;
  transition: -webkit-transform ease-in-out 1.2s;
  transition: transform ease-in-out 1.2s;
  transition: transform ease-in-out 1.2s, -webkit-transform ease-in-out 1.2s;
}

.section__menu h3 {
  margin-left: 4%;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
}

@media only screen and (min-width: 1024px) {
  .section__menu h3 {
    margin: 0 12%;
  }
}

@media only screen and (min-width: 1420px) {
  .section__menu h3 {
    margin: 0 20%;
  }
}

@media only screen and (min-width: 1024px) {
  #menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #menu .section__menu {
    padding-bottom: 0;
  }
}

#ContainerBtn {
  background-color: #F6F6F6;
  width: 100%;
  padding: 1rem;
}
/*# sourceMappingURL=main.css.map */