.btn__cta {
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4% auto;
    max-width: 42%;
    min-width: 210px;
    height:80px;
    border-radius: 80px;
    padding: 5%;
    @include box-shad(darken($color_grey_dark, 20%));
    background-image: linear-gradient(to bottom, $color_secondary 10%, $color_primary, $color_primary);

        @include media-query (normal){    
        height: 100px;
        }

        @include media-query (medium){   
            height: 110px;
        }

    &:hover { 
        @include box-shad(darken($color_grey_dark, 40%));    
        animation: anim_btn 0.3s ease-in-out forwards reverse;     
    }
    & span {
        color:$color_background;
        font-size:1.3rem;
        @include media-query (normal){           
            font-size:1.4rem;
          }   
          @include media-query (medium){           
            font-size:1.5rem;
          }     
          @include media-query (large){         
            font-size:1.7rem;
          }     
    }
}