.loadingspinner {   
    position: absolute;
    z-index: 999;
    width: 100%;
    height:$height_body;
    text-align: center;
    background: linear-gradient(to bottom, $color_primary_lighter, $color_primary_darker);
    transform-origin: bottom;  
    animation:spinner 2s 1s forwards;
    
    & p {
        font-size:2.5rem;
        margin: 2rem;
        color:$color_background;
        font-weight: 100;
        @include media-query (normal){
            font-size: 3rem;
            margin: 3.5rem;
        }    
    }
    & i {     
        color:$color_secondary;
        align-self: center;          
    }
}

