footer {
    margin: 0;
    background: darken($color_grey_darker, 20%);
    color:$color_background;
    padding:40px;

    & h3 {
    padding-left:1rem;
    font-weight: 100 !important;
    margin:0;
    @include media-query (large){
        font-size:2rem;
    }
    }
    
    & ul {
        list-style: none;
        padding-left: 1rem;   

        & li {  
            display: flex;
            margin: 1rem 0;
       
            & div {
                width:24px;
            }
               
            & a {
                display: flex;
                border-bottom:2px solid transparent;
                color:$color_background !important;  
                &:hover {
                    transition: all linear 250ms;
                    border-bottom-color:$color_primary_darker;
                }       
            }
        }
    }
    @include media-query (large){
        padding-left:8rem;
    }
}
