footer {
    margin: 0;
    background: darken($color_grey_darker, 20%);
    color:$color_background;
    padding:40px;

    & h3 {
    font-weight: 100 !important;
    }
    
    & ul {
        list-style: none;
        padding:0;   

        & li {  
            display: flex;
            margin: 3% 0;
       
            & div {
                width:24px;
            }
               
            & a {
                display: flex;
                border-bottom:2px solid transparent;
                color:$color_background !important;  
                &:hover {
                    transition: all linear 250ms;
                    border-bottom-color:$color_primary_darker;
                }       
            }
        }
    }
}
