.index__header {
	text-align: center;	
	& img {
		width: 60%;
		margin:0 auto;
		padding:32px 0;

		@include media-query (large){
			width: 35%;
		}
	}
	&__location {
		text-decoration: transparent;
		cursor: pointer;
		font-size: 1.4rem;
		width: 100%;
		border-top: 2px solid darken($color_grey_dark, 20%);
		background-color: $color_grey_dark;
		margin:0;
		& p {
			margin:0;
			padding:32px 0 40px 0;
			&:hover {
				transition: all linear 0.2s;
				transform:scale(1.1);
				color:$color_primary_darker;
				text-decoration: underline;
			}
		}

		@include media-query (normal){
			font-size: 1.7rem;
		}

		@include media-query (medium){
			font-size: 1.8rem;
		}

		@include media-query (large){
			font-size: 2rem;
		}

	}
	& i {
		padding-right:8px;
	}
}
	

.menu__header {
	display: flex;

	align-items: center;

	& div:first-child {
		font-size:32px;	
		width:32px;
		position: relative;
		left:4%;
		@include media-query (normal){
			font-size: 2rem;
		}
	
		@include media-query (medium){
			font-size: 2.6rem;
		}
		@include media-query (large){
			font-size: 3rem;
		}


		& a:hover {
			transition:all linear 200ms;
			color:$color_primary;
		}
	}		
	& div:nth-child(2) {
		margin:0 auto;
		
		& h1 {
			margin-block: 1.2rem;

				@include media-query (normal){
					font-size: 2.8rem;
				}
			
				@include media-query (medium){
					font-size: 3.2rem;
				}
			
				@include media-query (large){					
					font-size: 4.2rem;
				}
		}
	}
	

}
