.resultat {
	margin-top:2.5rem;
	background: $color_grey_light;
	padding: 2rem 0;
			@include media-query (large){
				display: flex;
				flex-wrap: wrap;
				
			}

	& h2 {
		margin-left:4%;
		@include media-query (large){
			margin:2rem 0;
			width: 100%;
			text-align: center;
		}
	}
	&__card {
		position: relative;
		width:80%;
		@include box-shad;
		display: flex;
		flex-direction: column;
		margin:2rem 5rem;
		border-radius: 20px;	
		
			@include media-query (large){
				width:41%;
			}

		&__legende {
			background:$color_background;
			padding: 16px 0 8px 4%;
			margin-top: -1%;
			border-radius: 0 0 20px 20px;

				@include media-query (large){
					width: 100%;					
				}

			& h3{
				margin-block: 0;
				margin: 0;	
			}
			& p {
				margin: 0;
				padding: 6px 0;
			}
			&__like {
				font-size:30px;
				position: absolute;
				right: 6%;
				bottom:8%;
				color:$color_grey_darker;
				&:hover i {
					@include heart_fill;
				}
			}
		}
		&:hover {
			transform-origin: bottom;
			transform:scale(1.03) scaleY(1.01);
			transition: all ease-in-out 400ms;
			@include box-shad($color_primary);
			&:hover .nouveau {
				animation : anim_nouveau ease-in-out 0.5s forwards;
				animation-iteration-count: 3;
			}
		}
		
	}
	& img {
		border-radius: 20px 20px 0 0;
		z-index: 1;
		width: 100%;
		min-height: 180px;
		max-height: 180px;
		object-fit: cover;
		object-position: 50% 70%;

			@include media-query (normal){
				min-height: 200px;
				max-height: 200px;
				object-position: 50% 60%;
			}

			@include media-query (medium){
				min-height: 240px;
				max-height: 240px;
				object-position: 50% 50%;
			}

			@include media-query (large){
				min-height: 300px;
				max-height: 300px;
			}
	}
	& .nouveau {
		font-family: 'Roboto-b';
		display: inline-block;
		padding:8px 14px;
		border-radius: 4px;
		color: darken($color_tertiary, 40%);
		background: $color_tertiary;
		position: absolute;
		right:7%;
		z-index: 2;
	}
}
