	@font-face { 
		font-family: "Shrikhand";
		src: url("fonts/Shrikhand-Regular.ttf") format("truetype");	 
		font-weight: normal;
		font-style: normal;	
	}

	@font-face {
		font-family: "Roboto-t";
		src: url("fonts/Roboto-Thin.ttf") format("truetype");	 
		font-weight: normal;
		font-style: normal;	
	}

	@font-face {
		font-family: "Roboto-r";
		src: url("fonts/Roboto-Regular.ttf") format("truetype");	 
		font-weight: normal;
		font-style: normal;	
	}

	@font-face {
		font-family: "Roboto-m";
		src: url("fonts/Roboto-Medium.ttf") format("truetype");	 
		font-weight: normal;
		font-style: normal;	
	}		

	@font-face {
		font-family: "Roboto-B";
		src: url("fonts/Roboto-Bold.ttf") format("truetype");	 
		font-weight: normal;
		font-style: normal;	
	}	


.font_title {
	font-family: 'Shrikhand';
}
.font_thin {
	font-family: 'Roboto-t';
}
.font_regular {
	font-family: 'Roboto-r';
}
.font_medium {
	font-family: 'Roboto-m';
}
.font_bold {
	font-family: 'Roboto-b';
}


* {
	
	font-family: 'Roboto-r';
}

a, a:visited {
	cursor: pointer;
	text-decoration: none;
	color:black;
}

h1 {
	font-size:2.1rem;
		@include media-query (normal){
			font-size: 2.4rem;
		}

		@include media-query (medium){
			font-size: 2.8rem;
		}

		@include media-query (large){
			font-size: 3.2rem;
		}
}
h2 {
	font-size: 1.8rem;
		@include media-query (normal){
			font-size: 2rem;
		}

		@include media-query (medium){
			font-size: 2.3rem;
		}

		@include media-query (large){
			font-size: 2.8rem;
		}
}
h3 {
	font-size: 1.5rem;
		@include media-query (normal){
			font-size: 1.6rem;
		}

		@include media-query (medium){
			font-size: 1.8rem;
		}

		@include media-query (large){
			font-size: 2rem;
		}
}
h4 {
	font-size:1.1rem;
		@include media-query (normal){
			font-size: 1.2rem;
		}

		@include media-query (medium){
			font-size: 1.2rem;
		}

		@include media-query (large){
			font-size: 1.3rem;
		}
}
