	@font-face { 
		font-family: "Shrikhand";
		src: url("fonts/Shrikhand-Regular.ttf") format("truetype");	 
		font-weight: normal;
		font-style: normal;	
	}

	@font-face {
		font-family: "Roboto-t";
		src: url("fonts/Roboto-Thin.ttf") format("truetype");	 
		font-weight: normal;
		font-style: normal;	
	}

	@font-face {
		font-family: "Roboto-r";
		src: url("fonts/Roboto-Regular.ttf") format("truetype");	 
		font-weight: normal;
		font-style: normal;	
	}

	@font-face {
		font-family: "Roboto-m";
		src: url("fonts/Roboto-Medium.ttf") format("truetype");	 
		font-weight: normal;
		font-style: normal;	
	}		

	@font-face {
		font-family: "Roboto-B";
		src: url("fonts/Roboto-Bold.ttf") format("truetype");	 
		font-weight: normal;
		font-style: normal;	
	}	


.font_title {
	font-family: 'Shrikhand';
}
.font_thin {
	font-family: 'Roboto-t';
}
.font_regular {
	font-family: 'Roboto-r';
}
.font_medium {
	font-family: 'Roboto-m';
}
.font_bold {
	font-family: 'Roboto-b';
}


* {
	font-size: 1rem;
	font-family: 'Roboto-r';
}

a, a:visited {
	cursor: pointer;
	text-decoration: none;
	color:black;
}
#MainTitle {
	margin:20px;
	font-size: 3rem;
}
h1 {
	font-size: 1.8rem;
}
h2 {
	font-size: 1.6rem;
}
h3 {
	font-size: 1.5rem;
}
h4 {
	font-size: 1.1rem;
}


@include media-query (normal){
	#MainTitle {
		font-size: 3.2rem;
	}
	h1 {
		font-size: 2.2rem;
	}
	h2 {
		font-size: 1.7rem;
	}
	h3 {
		font-size: 1.3rem;
	}
	h4 {
		font-size: 1.15rem;
	}
	
}
@include media-query (medium){
	#MainTitle {
		font-size: 3.7rem;
	}
	h1 {
		font-size: 2.5rem;
	}
	h2 {
		font-size: 2em;
	}
	h3 {
		font-size: 1.4rem;
	}
	h4 {
		font-size: 1.2rem;
	}
}
@include media-query (large){
	#MainTitle {
		font-size: 4rem;
	}
	h1 {
		font-size: 2.7rem;
	}
	h2 {
		font-size: 2.3rem;
	}
	h3 {
		font-size: 1.6rem;
	}
	h4 {
		font-size: 1.25rem;
	}
}
@include media-query (xlarge){
	#MainTitle {
		font-size: 4.5rem;
	}
	h1 {
		font-size: 3rem;
	}
	h2 {
		font-size: 2.2rem;
	}
	h3 {
		font-size: 1.8rem;
	}
	h4 {
		font-size: 1.3rem;
	}
}